<div class="row" >
  <div class="">
    <div class="mt-5">
          <div class="custom-width">
              <% @admin_beauties.each do |admin_beauty| %>
                <div style="display: inline-block;">
                    <img src="<%=admin_beauty.photo.medium.url%>">
                </div>
              <% end %>           
          </div>
    </div>
  </div>
</div>