<div class="container mt-5">
    <div  style="margin-top:10%">
            <legend class="text-left">>> Contact</legend>
            <p>><b> <a href="mailto:contact@xurdepastor.com">contact@xurdepastor.com</a></b></p>
            <a href="https://www.instagram.com/xurdepastor/" target="_blank"> <i class="fab fa-instagram fa-lg"></i> https://www.instagram.com/xurdepastor/          
            </a>
            <br>
            <br>
            <br>
            <legend class="text-left">>> About</legend></p>         
            </p><%=raw  @admin_biography.message%>
    </div>
</div>