<div class="container mt-5">
    <div  style="margin-top:10%">
            <p>
            Jorge Pastor nació en Lima,Perú. Conocido como "Xurde". trabajó ya en su temprana carrera como diseñador gráfico para medios digitales
            desempeñandose en el área de animación gráfica que para en ese entonces fue Macromedia.Pasando más tarde a la elaboración de materiales
            gráficos de pre-prensa y  post-prensa dándole más interés a la fotografía y edición de las mismas.
            </p>
            <p>Es asi como decide involucrarse más en la fotografía, dándose así una formación con mayor grado de prestancia en la carrera, aprendiendo procesos
            de la elaboración fotográfica en lab  especializado.
            </p>
            <p>
            También amplió el conocimiento de manejo de herramientas digitales de edición fotográfica, destacando la edición fotográfica y composición en
            sus trabajos.
            </p>
            <p>
            Actualmente se dedica a la actividad fotográfica como freelancer desarrollando innumerables tipos de trabajos relacionados a las artes de la fotografía
            desenvolviendo así todo enlace de la esencia y de las cosas encontrandoel romance entre lo bello y lo iverosímil.
            Las fotografías contenidas en este sitio son solo parte de los muy variados trabajos que él realiza.
            </p>
    </div>
</div>