<div class="container mt-5">
    <div  style="margin-top:10%">
            <legend class="text-center">Biography</legend>
            <br>
            <%=raw  @admin_biography.message%>
    </div>
</div>