<div class="row" >
  <div class="mt-5">
    <div class="">
      <div style="white-space:nowrap; width: 100%;">
          <% @admin_commercials.each do |admin_commercial| %>
            <div style="display: inline-block;">
                <img src="<%=admin_commercial.photo.medium.url%>">
            </div>
          <% end %>           
      </div>
      </div>
  </div>
</div>