<div class="row" >
    <div class="mt-5">
      <div style="white-space:nowrap; width: 100%;">
          <% @admin_portfolios.each do |admin_portfolio| %>
            <div style="display: inline-block;">
                <img src="<%=admin_portfolio.photo.medium.url%>">
            </div>
          <% end %>           
      </div>     
    </div>
</div>