// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.custom-width {
    overflow: scroll;
    overflow-y: hidden;
    white-space:nowrap;
    position: absolute; 
    width:100%;
}

a:hover {
    color: #9da9b4;
    text-decoration: none;
  }