<nav class="col-md-2 d-none d-md-block  sidebar">
    <div class="sidebar-header">
    <h3>Bootstrap Sidebar ADMIN</h3>
    </div>

    <ul class="list-unstyled components">
    <p>Dummy Heading</p>
    <li class="active">
    
    <%=link_to 'Cyclorosses Mant', admin_cyclorosses_path %>
    </li>
    
</nav>